/* ----- Box model RESET ----- */
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
/* ----- Box model RESET ----- */


/* ----- Estilos GLOBALES ----- */

a{
    text-decoration: none;
    color: black;
}

.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.nombre-sitio span{
    color: #037bc0;
}

.nav-principal{
    border-top: 1px solid #e1e1e1;
    padding: 20px 0;
}

.sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 25px;
}

.sobre-empresa{
    background-color: blue;
    width: 500px;
    padding: 100px;
}
